# yml, properties 파일 전체 무시

# 업로드 파일 경로 무시 (예: upload/defect 디렉터리 전체)
upload/defect/

src/main/java/com/group/defectapp/util/AES256Cipher.java


src/main/resources/application-local.yml
src/main/resources/application-prod.yml
*.env


HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
